.dashboard-navbar {
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #002a55;
    color: #ffa324;
    margin: 1rem 1rem;
    border-radius: 10px;
}

.dashboard-navbar-logo img {
    width: 150px;
}

.dashboard-navbar .dashboard-navbar-menu a {
    color: #ffa324;
    text-decoration: none;
}

.dashboard-navbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-navbar-search {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
}

.dashboard-navbar-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.dashboard-navbar-menu {
    display: flex;
    align-items: center;
}

.dashboard-navbar-menu .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.dashboard-navbar-menu .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dashboard-navbar-menu .dropdown-content a {
    color: #002a55;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dashboard-navbar-menu .dropdown:hover .dropdown-content {
    display: block;
}
