.about-us {
    max-width: 900px;
    text-align: center;
    padding: 60px 20px;
    color: #002a55;
    background-color: #f7f9fc; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 40px auto; /* Add margin to separate from other sections */
}

.about-us h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin: 0 0 25px;
    padding: 0;
}

.about-us p {
    font-family: 'Rubik', sans-serif;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6;
}
