/* src/components/Home.css */

body {
    font-family: 'Sans-serif', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    padding: 0;
}

.quick-links h2 {
    font-size: 2rem;
    color: navy;
    margin-bottom: 20px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.quick-links ul li a {
    color: #03a9f4;
    text-decoration: none;
    transition: color 0.3s;
}

.quick-links ul li a:hover {
    color: #ffa324;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: navy;
    color: #fff;
}
