.login {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-bottom: 20px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 10px 0 5px;
  color: #03A9F4;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  background-color: #FFA324;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #FB8C00;
}

p {
  margin-top: 20px;
  color: #555;
}
