/* src/components/Signup.css */

.signup {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.signup-header {
    background-color: #03a9f4;
    padding: 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

.signup .logo {
    width: 80px;
}

.signup form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.signup label {
    text-align: left;
    margin: 10px 0 5px;
    color: #03a9f4;
}

.signup input,
.signup select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.signup button {
    background-color: #ffa324;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup button:hover {
    background-color: #fb8c00;
}

.signup p {
    margin-top: 20px;
    color: #555;
}
